* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.eid-card {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1a0033, #3a0ca3, #7209b7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 105, 180, 0.4);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 140%;
  background: linear-gradient(to right, rgb(6, 6, 123), rgb(252, 1, 177));
  animation: shifa 4s linear infinite;
}
.card::after {
  content: "";
  position: absolute;
  background-color: pink;
  inset: 3px;
  border-radius: 16px;
}
@keyframes shifa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-here {
  z-index: 999;
  position: absolute;
}
.text-here span {
  display: block;
  text-align: center;
  color: #08085a;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Great Vibes", cursive;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.image img {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.text-here h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #7209b7;
}
.text-here h1 {
  background: linear-gradient(90deg, #cc003a, #a70054, #ee5c07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow:
    0 0 5px #ff9a9e,
    0 0 10px #fbc2eb;
  text-transform: uppercase;
  font-size: 30px;
}
.text-here a {
  text-decoration: none;
  color: rgb(114, 3, 77);
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 20px;
  background: transparent;
  box-shadow: 0 0 20px rgba(86, 27, 109, 0.9);
  border-radius: 10px;
  padding: 5px 0;
  transition: box-shadow 0.3s ease;
}
.text-here a:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.card1 {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(255, 105, 180, 0.4);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 140%;
  background: linear-gradient(to right, rgb(190, 2, 2), rgb(153, 7, 221));
  animation: shifa 4s linear infinite;
}
.card1::after {
  content: "";
  position: absolute;
  background-color: rgb(236, 3, 147);
  inset: 3px;
  border-radius: 16px;
}
.heart {
  position: absolute;
  font-size: 20px;
  color: rgb(255, 223, 13);
  text-align: center;
  animation: float 4s infinite ease-in-out;
  z-index: 9999;
}


@keyframes float {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.image-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-2 img {
  width: 180px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 20px;
}
.message{
    text-align: center;
    margin-top: 200px;
    width: 90%;
    z-index: 999;
}
.message h4{
     background: linear-gradient(to right, #0d19be, #a70000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  margin-bottom: 10px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.message p{
    font-size: 12px;
    color: white;
    font-weight: 500;
}
.message p span{
    background: linear-gradient(to right, #0d19be, #a70000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
    font-size: 14px;
    font-weight: bold;
}
.footer{
    text-align: center;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.message h6{
    font-size: 10px;
    color: rgb(4, 255, 197);
    width: 100px;

}
.message h6 span{
    font-size: 14px;
     background: linear-gradient(to right, #0d19be, #a70000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}